/* colors
linear gradient : #ef6366 to #8355eb
vivid-pink : #d0095d
drk grey neo pink: #1f1b20
grey Blue: #7b93b0
dark blue:#010f6b
*/

body {
  margin: 0;
  font-family: sans-serif;
  color: #1f1b20;
  padding-bottom: 20px;
}
h1,
h2 {
  background: linear-gradient(to right, #ef6366, #8355eb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 2px solid; */
  /* max-width: 90%;
  margin: auto; */
  padding: 16px 96px;
  max-width: 100%;
  box-sizing: border-box;
  /* background-color: antiquewhite; */
}
.body-header.fixed {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}

.body-header h1 {
  font-size: 2rem;
  font-weight: 900700;
}
.body-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.body-header .displayNav {
  display: flex;
  position: absolute;
  top: 74px;
  background-color: rgba(255, 255, 255, 0.699);
  /* background-color: #7b93b0; */
  min-height: 50vh;
  width: 25%;

  right: 0px;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0px 25px 50px -12px rbga(0, 0, 0, 0.25);
}

.body-header nav a {
  color: #1f1b20;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  font-weight: 700;
}
.body-header .hamburger {
  background: #8255eb49;
  /* height: 30px; */
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  display: none;
  border-radius: 2px;
  cursor: pointer;
}
.hamburger .line {
  width: 100%;
  height: 3px;
  /* margin: 3px 0; */
  background: #1f1b20;
}
#profile {
  min-height: 100vh;
  /* display: inline-block; */
}
.img-box {
  width: 300px;
  height: 400px;
  position: relative;
  /* background-color: rgb(42, 156, 255); */
  display: flex;
  align-items: center;
}
.img-box .profile-pic {
  width: 100%;
  border-radius: 60px;
}
.img-text {
  display: flex;
  /* background-color: aliceblue; */
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 100px;
}
.textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* gap: 5px; */
  /* background-color: #8355eb; */
}
.textbox h2 {
  font-size: 5rem;
  margin: 0;
}
.textbox p {
  font-size: 20px;
  margin: 0;
}
.img-box .wavy {
  position: absolute;
  left: -50%;
  top: 0;
  width: 250%;
  height: 400px;
  z-index: -1;
  object-fit: contain;
}
.textbox button {
  color: black;
  padding: 8px 15px;
  font-size: 1rem;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  /* display: inline-block; */
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  border: #7b93b0 solid 2px;
  background-color: white;
}
.textbox button:first-of-type {
  background-color: #ef6366;
  color: white;
  border: none;
}
#about {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* gap: 50px; */
}
.about-pic {
  /* background-color: #1f1b20; */
  width: 35%;
  align-self: stretch;
}
.about-pic img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.about-textbox {
  width: 35%;
  height: fit-content;
  padding: 30px;
  background-color: #1f1b20;
  border-radius: 20px;
  color: white;
}
.about-textbox h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.about-header {
  font-size: 3rem;
  text-align: center;
}
.goto-CV {
  display: block;
  color: #8355eb;
}
/* projects section */
#projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
#projects h2 {
  font-size: 3rem;
}
/* slider component */
.slider {
  /* background-color: #7b93b0; */
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  overflow: hidden;
  margin-top: 20px;
}
.slider .slider-btn {
  background: #8355eb;
  border-radius: 20px;
  position: absolute;
  color: white;
  font-size: 2rem;
  padding: 4px 12px;
  cursor: pointer;
  top: 50%;
}
.slider .right {
  right: 0;
}
.slider .left {
  left: 0;
}
.slide {
  flex-shrink: 0;
  /* height: 200px; */
  width: 100%;
  position: absolute;
  left: 0;
  transition: transform 0.25s;
}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 20px;
}
/* styling grid */

.grid-container {
  display: grid;
  /* height: 500px; */
  gap: 7px;
  /* width: 400px; */
  /* background-color: #1f1b20; */
  transform: scale(0.6);
  grid-template-areas:
    "e e d"
    "a b c"
    "f h h"
    "g h h";
}
.grid-item {
  /* padding: 10px; */
  /* height: 200px;
  width: 200px; */
}
.grid-item:hover {
  transform: scale(2);
  transition: transform ease 0.25s;
}
.grid-item img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
#Spyre-2 {
  grid-area: a;
}
#Spyre {
  grid-area: b;
}
#Spyre-7 {
  grid-area: c;
}
#Spyre-3 {
  grid-area: d;
}
#new1 {
  grid-area: e;
}

#new2 {
  grid-area: f;
}
#spyre-9 {
  grid-area: g;
}
#spyreCover {
  grid-area: h;
}
.hidden {
  display: none;
}

.switch-tab {
  /* background-color: #1f1b20; */
  position: relative;
  padding: 40px 0;
  max-width: 600px;
  width: 80%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
}
.toggle-switch {
  cursor: pointer;
  position: absolute;
  top: 20px;
  color: white;
  background-color: #8355eb;
  padding: 8px 15px;
  border: none;
  border-radius: 10px;
}

/* contact section */
#contact {
  background-color: white;
  min-height: 90vh;
  color: white;
}
#contact h2 {
  text-align: center;
  font-size: 3rem;
}
.card {
  background-color: #1f1b20;
  color: white;
  box-shadow: -8px 13px 20px grey;
  font-size: 0.75rem;
  width: 70%;
  height: 250px;
  margin: auto;
  border-radius: 16px;
  display: flex;
  /* padding: 32px 20px; */
}
.contact-text {
  flex-basis: 50%;
  /* background-color: #7b93b0; */
  align-items: center;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  padding: 32px 20px;
}
.contact-text h4 {
  margin: 0;
  font-size: 2rem;
}
.link-boxes {
  display: flex;
  align-self: flex-start;
  background-color: #7b93b0;
  width: 100%;
  border-radius: 8px;
  flex-direction: column;
}
.link-box {
  height: 50px;
  /* background-color: #8355eb; */
  margin: 5px;
  width: 200px;
  border-radius: 8px;
}
.email-box {
}
.other-links {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
}
.other-links a {
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: #7b93b0;
  border-radius: 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 8px grey;
  transition: transform 0.25s;
}
.other-links a:hover {
  opacity: 0.75;
  transform: translateY(-8px);
}
.other-links img {
  cursor: pointer;
  width: 75%;
  opacity: 1;
}
#x {
  background-color: #8355eb;
}
#behance {
  background-color: white;
}
#instagram {
  background-color: #1f1b20;
}
.contact-img {
  background-color: white;
  flex: 1;
}
.contact-img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
a#email-link {
  color: #1f1b20;
  text-decoration: none;
  border-radius: 4px;
  margin-top: auto;
  text-align: center;
  display: inline-block;
  padding: 2px 5px;
  font-style: italic;
  position: relative;
  background-color: white;
  animation: up-down 1s ease-in infinite;
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
    box-shadow: -2px 2px 8px white;
  }
}
.dim {
  animation: dim ease-in 0.5s;
  animation-delay: 1s;
}
@keyframes dim {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.25;
  }
}
.body-footer {
  background-color: #1f1b20;
  padding: 30px 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}
.body-footer h2 {
  font-size: 0.85rem;
  /* margin: 0; */
}
.body-footer button {
  border: none;
  border-radius: 16px;
  padding: 8px 18px;
  font-weight: 700;
}
